.ss-button {
  display: inline-flex;
  min-height: $input-height;
  align-items: stretch;
  padding: $spacing-4 $input-padding;
  border: $border-base;
  border-color: $color-primary;
  border-radius: $border-radius-base;
  background-color: $color-primary;
  color: $color-white;
  cursor: pointer;
  outline: none;
  transition: $transition-base;
  user-select: none;

  &:hover {
    background-color: $color-primary-hover;
  }
}

.ss-button__loading {
  display: flex;
  align-items: flex-start;
  margin-top: $spacing-3 + $spacing-1;

  &::after {
    content: '\00a0';
  }
}

.ss-button__text {
  display: flex;
  align-items: center;
}

.ss-button--secondary {
  border-color: $color-paper-2;
  background-color: $color-paper-2;
  color: $color-text;

  &:hover {
    background-color: $color-paper-1;
  }
}

.ss-button--disabled {
  border-color: $color-paper-3;
  background-color: $color-paper-3;
  color: $color-text-light;
  cursor: not-allowed;

  &:hover {
    border-color: $color-paper-3;
    background-color: $color-paper-3;
    color: $color-text-light;
  }
}

.ss-button--loading {
  background-color: $color-primary-hover;

  &:hover {
    background-color: $color-primary-hover;
  }
}
