@mixin highlight-option {
  border-color: $color-primary;
  border-radius: $border-radius-base;
  background-color: $color-primary-light;
}

.ss-single-select__options {
  position: fixed;
  z-index: $z-index-popover;
  pointer-events: none;
}

.ss-single-select__options-wrap {
  overflow: auto;
  max-height: 50vh;
  border-radius: $border-radius-base;
  opacity: 0;
  pointer-events: none;
}

.ss-single-select__option {
  position: relative;
  display: flex;
  min-height: $input-height;
  align-items: center;
  padding: 0 $input-padding;
  border: $border-base;
  background-color: $color-paper-2;
  cursor: pointer;
  transition: $transition-base;

  &:first-child {
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
  }

  &:last-child {
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }

  &:hover,
  &:focus {
    @include highlight-option;
  }
}

.ss-single-select__input {
  position: absolute;
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

// modifiers

.ss-single-select__options--open {
  .ss-single-select__options-wrap {
    opacity: 1;
    pointer-events: all;
  }
}

.ss-single-select__options-wrap--top {
  transform: translateY(calc(-100% - $input-height));
}

.ss-single-select__option--focused {
  @include highlight-option;
}
