$input-height-without-border: $input-height - ($border-width * 2);

.ss-input {
  position: relative;
  border: $border-base;
  border-radius: $border-radius-base;
  background-color: $color-white;
}

.ss-input__wrap {
  display: flex;
  flex-direction: row-reverse;
}

.ss-input__input {
  width: 100%;
  height: $input-height-without-border;
  padding: 0 $input-padding;
  border: 0;
  border-radius: $border-radius-base;
  background-color: transparent;
  outline: 0;
}

.ss-input__label {
  position: absolute;
  top: $spacing-5 - ($spacing-1 + $spacing-2);
  left: -$border-width;
  display: flex;
  height: $spacing-8;
  flex-shrink: 0;
  align-items: center;
  padding: 0 $input-padding;
  border: $border-base;
  border-color: transparent;
  border-radius: $border-radius-base $border-radius-base $border-radius-base 0;
  margin-right: -$input-padding + $spacing-3;
  background-color: transparent;
  color: $color-text-light;
  pointer-events: none;
  transition: $transition-base;
}

.ss-input__label-text {
  transition: $transition-base;
}

.ss-input__message {
  position: absolute;
  bottom: -$spacing-5;
  left: -$border-width;
  overflow: hidden;
  max-width: calc(100% + ($border-width * 2));
  height: $spacing-8;
  padding: ($spacing-1 + $spacing-2) $input-padding;
  border: $border-base;
  border-radius: 0 $border-radius-base $border-radius-base $border-radius-base;
  border-top-color: transparent;
  background-color: $color-white;
  color: $color-text-light;
  font-size: $font-size-xs;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// modifiers

.ss-input--focus,
.ss-input--active {
  .ss-input__label {
    top: -$spacing-5;
    border-color: $border-color-base;
    border-bottom-color: transparent;
    background-color: $color-white;
    font-size: $font-size-xs;
  }
}

.ss-input--error {
  border-color: $color-danger;
  color: $color-danger;

  .ss-input__label,
  .ss-input__message {
    color: $color-danger;
  }

  .ss-input__message {
    border-color: $color-danger;
    border-top-color: transparent;
  }

  &.ss-input--focus,
  &.ss-input--active {
    .ss-input__label {
      border-color: $color-danger;
      border-bottom-color: transparent;
    }
  }
}
